[submodule "External/CTrueTime"]
	path = External/CTrueTime
	url = git@github.com:instacart/CTrueTime.git
	branch = 1.0.0
[submodule "External/xcconfigs"]
	path = External/xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
	branch = 0.9
